@import "../../scss/mixins.scss";
@import "../../scss/constants.scss";


.product__container-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 320px;
  height: 480px;
  border-radius: 12px;
  clip-path: polygon(0% 100%, 0% 10%, 15% 0%, 100% 0%, 100% 100%);

  &_accent-1 {
    background-color: $product-accent-color-1;
  }

  &_accent-2 {
    background-color: $product-accent-color-2;
  }

  &_disabled {
    background-color: $product-accent-disabled;
  }
}

.product__container {
  width: 312px;
  height: 472px;
  border-radius: 12px;
  background-color: $product-bg-color;
  clip-path: polygon(0% 100%, 0% 10%, 15% 0%, 100% 0%, 100% 100%);
}
