@import "../../scss/mixins.scss";
@import "../../scss/constants.scss";

.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.product__container-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 320px;
  height: 480px;
  border-radius: 12px;
  clip-path: polygon(0% 100%, 0% 8%, 13% 0%, 100% 0%, 100% 100%);

  &_accent-1 {
    background-color: $product-accent-color-1;
  }

  &_accent-2 {
    background-color: $product-accent-color-2;
  }

  &_disabled {
    background-color: $product-accent-disabled;
  }
}

.product__container {
  position: relative;
  width: 312px;
  height: 472px;
  border-radius: 12px;
  background-color: $product-bg-color;
  clip-path: polygon(0% 100%, 0% 8%, 13% 0%, 100% 0%, 100% 100%);
  padding-top: 15px;
  padding-left: 40px;
  overflow: hidden;
  cursor: pointer;
}

.product__title {
  @include font($product-font-family, 16px, 400, $product-secondary-font-color);
}

.product__name {
  @include font($product-font-family, 48px, bold, $product-primary-font-color);
  margin-top: 13px;
}

.product__description {
  display: block;
  @include font($product-font-family, 24px, bold, $product-primary-font-color);
  margin-top: 5px;
  margin-bottom: 20px;
}

.product__additional-info {
  display: block;
  @include font($product-font-family, 14px, 400, $product-secondary-font-color);
}
