@import "./fonts.scss";

// fonts
$primary-font-family:            "Exo 2.0 Thin", sans-serif;
$product-font-family:            "Trebuchet MS", sans-serif;

// colors
$primary-font-color:             #ffffff;
$product-bg-color:               #f2f2f2;
$product-accent-color-1:         #1698d9;
$product-accent-color-2:         #d91667;
$product-accent-disabled:        #b3b3b3;
$product-primary-font-color:     #000000;
$product-secondary-font-color:   #666666;
$product-comment-color-text:     #ffffff;
$product-comment-color-link:     #1698d9;
$product-comment-color-warning:  #ffff66;
$product-mark-color:             #fd4242;

// media breakpoints
$laptop-width:                    1280px;
$tablet-width:                    1020px;
$mobile-width-big:                768px;
$mobile-width-small:              480px;